form{
    /* border: 3px solid black; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
    /* background-color: lightgrey; */
    width: 400px;
    height: 505px;
}


h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
h5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
